/* style for tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* quality */
  .quality::after {
    right: 66px;
  }

  .quality-list li {
    padding: 0 10px;
  }

  /* footer */
  .footer-socials ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 4px;
  }

  .footer-socials ul li a img {
    width: 26px;
    height: 26px;
  }
}

/* style for smartphones */
@media only screen and (max-width: 787px) {
  /* header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header-menu {
    text-align: center;
  }

  .header-menu ul li {
    margin: 5px;
  }

  .header-menu ul li a {
    border: 4px solid #000;
    width: 125px;
    display: block;
    float: left;
  }

  .header-menu ul li a:hover {
    border-color: #fff;
  }

  /* intro */
  .intro {
    margin-top: 0px;
    padding-top: 10px;
    background: url('../img/bg-mobile.jpg') no-repeat left;
    background-size: cover;
  }
}
